@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    background-color: #121212;
    margin: 0px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

.header {
    padding: 1rem;
    background-color: hsl(214, 100%, 42%);
}

.header-text {
    margin: 0px;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
    font-weight: 400;
    font-style: italic;
}

.about-me-text {
    color: #08b1c7;
    padding-left: 1rem;
    max-width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}